.descaboutus{ 
    padding-bottom: 0px;
    margin: 0 auto;
    padding-top: 0px;
    align-items: center;
    text-align: center;
    /*justify-content: center;
    display: flex;*/
    padding-top: 0%;
    color:whitesmoke;
    font-size: x-large;
    width: 80%;
    font-family: 'Roboto', sans-serif;
}

.paddingtop{
    padding-top: 25px;
}